// COLORS 
$header-bg: #10101DE5;

$blue-color: #43ABF0;
$white-color: #fff;


$font-black-color: #2A2B30;

// BTN COLORS 
$btn-blue-color: #3E9CDC;
$btn-white-color: #fff;
$btn-border-dark-color: #6F6D7B;

// FONTS 
$primary-font: "Lato", sans-serif;
$brand-font: "Raleway", sans-serif;